feed_url: "http://www2.tomakomai-ct.ac.jp/feed"

notifications:
  email:
    sendgrid_api_key: "YOUR_SENDGRID_API_KEY"
    from: "YOUR_EMAIL_ADDRESS"
    database_url: "YOUR_DATABASE_URL"
  twitter:
    consumer_key: "YOUR_TWITTER_CONSUMER_KEY"
    consumer_secret: "YOUR_TWITTER_CONSUMER_SECRET"
    access_token: "YOUR_TWITTER_ACCESS_TOKEN"
    access_token_secret: "YOUR_TWITTER_ACCESS_TOKEN_SECRET"
